<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>
    {% include 'partials/banner.html' %}
    {% include 'partials/navbar.html' %}
    {% block extra_css %}{% endblock %}
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}

</body>