<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>Welcome</title>
</head>
<body>
    <!-- Banner -->
    <div class="banner-container">
        <p>SFSU Software Engineering Project CSC 648-848, Spring 2024. For Demonstration Only</p>
        <br>
        <p> Section 2 Team 05</p>
    </div>

    
    <!-- About me page -->
    <div class = "nav-container">
        <a href="/About Me" class="about-me-link">About Me</a>
        <a href="{{ url_for('register') }}" class="register-link">Register</a>
        <a href="{{ url_for('login') }}" class="login-link">Login</a>
        <div class="dropdown">
            <div class="circle"></div>
            <div class="dropdown-content">
                <!-- For when we want to edit the profiles -->
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
            </div>
        </div>
    </div>

    <!-- Logo -->
    <div class="logo-container">
        <a href="/" class="olympick-logo">Olympick</a>
    </div>
    
    <!-- Search bar -->
    <div class="search-container">
        <form action="/search" method="post" class="search-bar">
            <input type="text" name="searchTerm" id="search-input" placeholder="Search...">
            <select name="searchFilter" class="search-select">
                <option value="University">University</option>
                <option value="Sports">Sports</option>
            </select>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <!-- JavaScript for filter options -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var filterOptions = document.querySelectorAll('.filter-option');
            var searchInput = document.getElementById('search-input');
            var filterButton = document.querySelector('.dropbtn'); // Target the filter button

            filterOptions.forEach(function(option) {
                option.addEventListener('click', function(event) {
                    event.preventDefault(); 
                    var placeholderText = "Searching " + this.getAttribute('data-search-placeholder') + "...";
                    var buttonText = this.getAttribute('data-search-placeholder'); // Prepare new button text
                    searchInput.setAttribute('placeholder', placeholderText);
                    filterButton.textContent = buttonText; // Update the button text
                });
            });
        });
    </script>
</body>
</html>
