{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <!-- Navigation links -->
    <div class="nav-container">
        <a href="/About Me" class="about-me-link">About Me</a>
        <a href="{{ url_for('register.register') }}" class="register-link">Register</a>
        <a href="{{ url_for('login.login') }}" class="login-link">Login</a>
        <div class="dropdown">
            <div class="circle"></div>
            <div class="dropdown-content">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
            </div>
        </div>
    </div>

    <!-- Logo -->
    <div class="logo-container">
        <a href="/" class="olympick-logo">Olympick</a>
    </div>

    <!-- Search bar -->
    <div class="search-container">
        <form action="/search" method="post" class="search-bar">
            <input type="text" name="searchTerm" id="search-input" placeholder="Search...">
            <select name="searchFilter" class="search-select">
                <option value="University">University</option>
                <option value="Sports">Sports</option>
                <option value="State">State</option>
            </select>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
{% endblock %}
{% block extra_js %}


    <!-- JavaScript for filter options -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var filterOptions = document.querySelectorAll('.filter-option');
            var searchInput = document.getElementById('search-input');
            var filterButton = document.querySelector('.dropbtn'); // Target the filter button

            filterOptions.forEach(function (option) {
                option.addEventListener('click', function (event) {
                    event.preventDefault();
                    var placeholderText = "Searching " + this.getAttribute('data-search-placeholder') + "...";
                    var buttonText = this.getAttribute('data-search-placeholder'); // Prepare new button text
                    searchInput.setAttribute('placeholder', placeholderText);
                    filterButton.textContent = buttonText; // Update the button text
                });
            });
        });
    </script>
{% endblock %}


