{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown.active .dropdown-content {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<!-- Banner included from base.html -->
<body> 
    <div class="search-container">
        <form action="/search" method="post" class="search-bar">
            <input type="text" name="searchTerm" id="search-input" placeholder="Search...">
            <select name="searchFilter" class="search-select">
                <option value="University">University</option>
                <option value="Sports">Sports</option>
                <option value="State">State</option>
            </select>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>
{% endblock %}

{% block extra_js %}
<script>
    function toggleDropdown() {
        var dropdown = document.querySelector('.dropdown');
        dropdown.classList.toggle('active');
    }

    document.addEventListener('click', function(event) {
        var dropdown = document.querySelector('.dropdown');
        var targetElement = event.target;

        if (!targetElement.closest('.dropdown')) {
            dropdown.classList.remove('active');
        }
    });
</script>
{% endblock %}
