{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<style>
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown.active .dropdown-content {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<!-- Banner included from base.html -->
<body> 

    <div class="nav-container">
        <p>Hello! {{ session.get('firstname') }}</p>
        <a href="{{ url_for('upload.upload') }}" class="upload-link">Upload Files</a>
        <div class="dropdown">
            <div class="circle" style="background-image: url('data:image/jpeg;base64,{{ profile_picture }}')" onclick="toggleDropdown()"></div>
            <div class="dropdown-content">
                <a href="{{ url_for('profile.profile', user_id=user_id, full_name=full_name) }}">My Profile</a>
                <a href="{{ url_for('inbox.inbox', user_id=user_id, full_name=full_name) }}">Inbox</a>
                <a href="{{ url_for('landing.landing') }}">Log out</a>
            </div>
        </div>
    </div>
    <div class="search-container">
        <form action="/search" method="post" class="search-bar">
            <input type="text" name="searchTerm" id="search-input" placeholder="Search...">
            <select name="searchFilter" class="search-select">
                <option value="University">University</option>
                <option value="Sports">Sports</option>
                <option value="State">State</option>
            </select>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>
{% endblock %}

{% block extra_js %}
<script>
    function toggleDropdown() {
        var dropdown = document.querySelector('.dropdown');
        dropdown.classList.toggle('active');
    }

    document.addEventListener('click', function(event) {
        var dropdown = document.querySelector('.dropdown');
        var targetElement = event.target;

        if (!targetElement.closest('.dropdown')) {
            dropdown.classList.remove('active');
        }
    });
</script>
{% endblock %}
