{% extends "base.html" %}

{% block title %}{{ uni_name }} {% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <h1>{{ uni_name }}</h1>

        <div class="header">
            <ul class="navigation">
                <a href="{{ url_for('universityPage.home', uni_name=uni_name) }}">HOME</a>
                <a href="{{ url_for('universityPage.sports', uni_name=uni_name) }}">Sports</a>
                <a href="{{ url_for('universityPage.athletes', uni_name=uni_name) }}">Athletes</a>
                <a href="{{ url_for('universityPage.faculty', uni_name=uni_name) }}">Faculty</a>
                <a href="{{ url_for('universityPage.contact', uni_name=uni_name) }}"  style="font-weight: bold;">Contact Us</a>
            </ul>
        </div>

    </div>
</div>
{% endblock %}