{% extends "base.html" %}

{% block title %}{{ uni_name }} {% endblock %}


{% block extra_css %}
<style>
    .map-and-contact {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .map-container {
        width: 350px;
        height: 400px;
        position: relative;
    }

    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .contact-info {
        width: 300px;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        float: right; /* Align the dropdown to the right */
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0; /* Position the dropdown content to the right */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    th, td {
        border: 1px solid #ccc;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #333;
        color: white;
    }
    tr {
        background-color: white;
    }
</style>
{% endblock %}

{% block content %}
{% include 'partials/searchbar.html' %}
<div class="container universityContainer">
    <div class="content">
        <h1>{{ uni_name }}</h1>
       
        <div class="dropdown">
            <div class="circle" style="background-image: url('data:image/jpeg;base64,{{ profile_picture }}')" onclick="toggleDropdown()"></div>
            <div class="dropdown-content">
                <a href="{{ url_for('universityPage.university_profile',  uni_name=uni_name) }}">My Profile</a>
                <a href="{{ url_for('inbox.inbox', university_id=university_id, uni_name=uni_name) }}">Inbox</a>
                <a href="{{ url_for('landing.landing') }}">Log out</a>
            </div>
        </div>

        {% include 'partials/universityHeader.html' %}

        <table>
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
            </tr>
            {% for athlete in athletes_info %}
            <tr>
                <td>{{ athlete[3] }}</td>
                <td>{{ athlete[4] }}</td>
            </tr>
            {% endfor %}
        </table>

            <button onclick="toggleEditSection()">Edit</button>


            <div id="edit-section" style="display: none;">
                <form action="" method="post">
                    <label for="sport_id">Athlete Id:</label>
<input type="text" id="sport_id" name="sport_id" required>
                    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
 <button type="submit">Add Athlete</button>
                </form>
            </div>
           


    </div>
</div>
<script>
    function toggleEditSection() {
        var editSection = document.getElementById('edit-section');
        if (editSection.style.display === 'none') {
            editSection.style.display = 'block';
        } else {
            editSection.style.display = 'none';
        }
    }
</script>
{% endblock %}