<div class="header">
    <ul class="navigation">
        <a href="{{ url_for('universityPage.home', uni_name=uni_name) }}">HOME</a>
        <a href="{{ url_for('universityPage.sports', uni_name=uni_name) }}" style="font-weight: bold;">Sports</a>
        <a href="{{ url_for('universityPage.athletes', uni_name=uni_name) }}">Athletes</a>
        <a href="{{ url_for('universityPage.faculty', uni_name=uni_name) }}">Faculty</a>
        <a href="{{ url_for('universityPage.contact', uni_name=uni_name) }}">Contact Us</a>
    </ul>
</div>