body {
    background-image: url(backgroundimg.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF8E3; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Default font */
    color: #333; /* Default text color */
}




.search-container {
    text-align: center; 
    margin-top: 50px; 

}

/* Search bar */
.search-bar {
    display: flex; 
    align-items: center; 
    max-width: 600px;
    margin: 0 auto;
}

.search-select {
    padding: 10px 20px; 
    border: 1px solid #ccc; 
    background-color: #9f9f9f;
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 10px; 
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.dropdown {
    position: relative;
}

.dropbtn {
    padding: 10px 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
    cursor: pointer; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.search-bar button {
    padding: 10px 20px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
}

.search-bar button:hover {
    background-color: #0056b3; 
}

.banner-container {
    background-color: #ffffff; 
    color: #007bff; 
    padding: 0.1px 0; 
    text-align: center;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner-text {
    margin: 20px 0; 
    font-weight: 700; 
    letter-spacing: 1.5px; 
    text-transform: uppercase;
}

.logo-container {
    padding: 10px;
    text-align: center; 
    margin: 0 20px; 
}
.logo-container a {
    color: red; 
    text-decoration: none;
    font-size:32px;
    font-weight: bold;
}

.nav-container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px; 
}

.about-me-link {
    margin-right: 10px; 
    color: #0b0b0b; 
    font-size: 15px;
    font-weight: bold;
}
.auth-links {
    display: inline-block;
}

.register-link,
.login-link {
    color: #0b0b0b;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.separator {
    margin: 0.5px; /* Adjust spacing between links and separator */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(126, 188, 242);
    color: #f8f2f2; /* Set text color */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333; /* Set border color */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0; /* Position the dropdown from the right */
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Navbar specific styles */
.navbar {
    background-color: #A3D8FF; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif; /* Applies Raleway font to the navbar */
}
.navbar-brand {
    display: flex;
    align-items: center; /* Ensures vertical centering */
    color: #007bff;
    text-decoration: none;
}

.navbar-brand .logo-text {
    margin-left: 10px; /* Space between logo and text */
    color: #007bff; /* Sets the text color to blue */
    font-weight: bold; /* Makes the text bold */
}

.navbar-brand img {
    max-height: 50px; /* Adjust this value to fit your design */
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    width: auto; /*  the width scales correctly */
}


.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    padding: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #555; /* Darker text for better readability */
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: white; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        padding: 10px 0;
    }
}

.logo-container img {
    height: 30px;
    margin-right: 10px;
}
