body {
    background-image: url(backgroundimg.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF8E3; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Default font */
    color: #333; /* Default text color */
}


    

.search-container {
    flex: 1; /* Let the search container take up remaining space */
    text-align: center;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        padding: 10px 0;
    }
}

.logo-container img {
    height: 30px;
    margin-right: 10px;
}
.search-bar {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-select {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-container {
    text-align: center; 
    margin-top: 10px; 
}

/* Search bar */
.search-bar {
    display: flex; 
    align-items: center; 
    max-width: 600px;
    margin: 0 auto;
}
.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #344d68;
}
.search-select {
    padding: 10px 20px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9;
    color: #333; 
    background-color: #9f9f9f;
    color: white; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 10px;  
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.dropdown {
    position: relative;
}

.dropbtn {
    padding: 10px 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
    cursor: pointer; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.search-bar button {
    padding: 10px 20px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
}

.search-bar button:hover {
    background-color: #344d68; 
}

.banner-container {
    background-color: #8d6bec; 
    color: white; 
    font-family: 'Raleway', sans-serif;
    padding: 0.1px 0; 
    text-align: center;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner-text {
    margin: 20px 0; 
    font-weight: 700; 
    letter-spacing: 1.5px; 
    text-transform: uppercase;
}

.nav-container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px; 
}

.about-me-link {
    margin-right: 10px; 
    color: #0b0b0b; 
    font-size: 15px;
    font-weight: bold;
}
.auth-links {
    display: inline-block;
}

.separator {
    margin: 0.5px; /* Adjust spacing between links and separator */
}

.dropdown {
    position: relative;
    display: inline-block;
}


.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(126, 188, 242);
    color: #f8f2f2; /* Set text color */
    font-weight: bold;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: 2px solid #333; /* Set border color */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0; /* Position the dropdown from the right */
}
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    background-color: #f8f9fa; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
}


.navbar-brand img {
    max-height: 50px; 
    margin-right:10px;
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    width: auto; /* Ensures the width scales correctly */
    border-radius: 50%; /* Makes the image round */
}



.nav-item {
    padding: 0 0.75rem; /* Horizontal padding for nav items */
}

.header {
    margin-top: 20px;
}
.card-link {
    display: block;
    padding: 20px;
    text-align: center;
}
.card {
    margin: 0;
    height: 70%;
}
.card-body {
    padding: 0;
}
.card:hover{
    transform: scale(1.05); /* Slightly scale up the card on hover */
}
.header .row {
    display: flex;
    flex-wrap: nowrap;
}
.header .col-md {
    flex: 1;
    padding: 0;
}


.universityContainer{
    background-color: white;
    margin-top: 2rem;
}
