.user-list {
    list-style-type: none; /* Removes default list styling */
    padding: 0; 
    margin: 0; 
}

.user-list li {
    display: flex; 
    justify-content: center; /* Centers flex items on the main axis */
    margin-bottom: 10px; 
}

.user-list li a {
    text-decoration: none; /* Removes underline from links */
    background-color: #86A7FC; 
    color: white;
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: 50%; 
    text-align: center; 
    box-sizing: border-box; /* Include padding and border in the element's width */
}

.user-list li a:hover {
    background-color: #3468C0; 
}
